/* ----------------------------------------------------------------------------
 * Footer Styling
 * -------------------------------------------------------------------------- */
#main-footer{
   margin-top: 60px;
   background: $color-3;
   color: $white;
}
