// ========================================================================
// Font
// ======================================================================== /
$font-body: 'Source Sans Pro', sans-serif, Arial;
$font-brand: 'Lobster', serif;



// ========================================================================
// Color
// ======================================================================== /

$primary: #28C8D6;

$white: #FFFFFF;
$black: #000000;
$color-content: #A4A4A4;

$color-3: #333333;
$color-7: #777777;
$color-e: #EEEEEE;
$color-d: #DDDDDD;

$bg_footer: #0F0F0F;

// Color Brand
$brand_dot: #00AEFF;
