// ========================================================================
// Font
// ======================================================================== /
$font-body: 'Source Sans Pro', sans-serif, Arial;
$font-brand: 'Lobster', serif;



// ========================================================================
// Color
// ======================================================================== /
$white: #FFFFFF;
$black: #000000;


// Color Brand
$brand_dot: #00AEFF;
